h1{
    color:darkmagenta;
}
.alert{
    color: rgb(240, 127, 255);
}
#logo{
    background-color: deeppink;
}
.Neo{
color:red;
font: size 40px;
font-family: fantasy;
text-align: center;

.Neo:hover{
color:skyblue;
}
.matrix{
text-align: center;
}
